.App{
 display: flex;
 flex-direction: column;
 align-items: center;
  background-color: gainsboro;
  width: 700px;
  margin-top: 50px;
  margin-left: 350px;
}
.heading{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form input[type="text"]{
  padding: 10px;
  margin: 30px;
  width: 65%;
  border: 1px solid #eee;
  border-radius: 6px;
}
.btn1{
  background-color: teal;
  color: #fff;
  border: none;
  width: 100px;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  margin: 30px;
}
.btn2{
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  background-color: green;
  color: #eee;
  margin-left: 15px;
}
.btn3{
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  background-color: red;
  color: #eee;
  margin-left: 15px;
}
.taskcont{
  display: flex;
  flex-direction: column;
}
.todoItem{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}
.updateForm{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.updateInput[type="text"]{
  padding: 10px;
  margin: 30px;
  width: 65%;
  border: 1px solid #eee;
  border-radius: 6px;
}
.btn4{
  background-color: darkcyan;
  color: #fff;
  border: none;
  width: 100px;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  margin: 30px;
}